[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
[alias]
    pushf = push --force-with-lease
[diff]
	algorithm = histogram
[push]
	autoSetupRemote = true
[help]
	autocorrect = prompt
